<% flash.each do |type, message| %>
    <%- unless message.blank? %>
        <div class="alert <%= bootstrap_class_for(type) %> fade in">
          <button class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove-circle"></i></button>
          <%= message.html_safe %>
        </div>
    <% end %>
<% end %>

<div class="row">
<%= form_tag publish_path, multipart:true do %>
    <div class="form-group">
        <label for="inputEmail">Select PDF File</label>
        <%= file_field_tag "pdf_file" %>
    </div>
    <%= submit_tag 'Process', data: { disable_with: 'Processing...' },class: "btn btn-primary" %>
<% end %>
</div>