<% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> fade in">
      <button class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove-circle"></i></button>
      <i class="glyphicon glyphicon-<%= bootstrap_icon_for(type) %>"></i> <%= message %>
    </div>
<% end %>

<div class="row">
	<%= link_to 'Back', root_path%>
</div>
<div class="page-header">
	<h1>Text</h1>
</div>
<div class="row">
	<%= simple_format(@document) %>
</div>

<div class="page-header">
	<h1>Images</h1>
</div>
<div class="row">
	<%@other_images.each do |image|%>
		<%= image_tag image_path(filename: image, ext: image.split('.').last) %>
	<% end %>
</div>
<script type="text/javascript">
	$(function () {
	  var imageFiles = <%=raw @tiff_images	%>;

	  var loadImage = function (filename) {
	    var xhr = new XMLHttpRequest();
	    xhr.open('GET', filename);
	    xhr.responseType = 'arraybuffer';
	    xhr.onload = function (e) {
	      var buffer = xhr.response;
	      var tiff = new Tiff({buffer: buffer});
	      var canvas = tiff.toCanvas();
	      var width = tiff.width();
	      var height = tiff.height();
	      if (canvas) {
	        var $elem = $('<div class="container"><div class="row"><a href="' + filename + '">' +
	                      filename +
	                      ' (width: ' + width + ', height:' + height + ')' +
	                      '</a></div></div>');
	        $elem.append(canvas);
	        $('body').append($elem);
	      }
	    };
	    xhr.send();
	  };

	  for (var i = 0, len = imageFiles.length; i < len; ++i) {
	    loadImage('images/' + imageFiles[i] + '?ext='+imageFiles[i].split('.')[1]);
	  }
	});

</script>